@charset "UTF-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
div,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background-color: #e8d9bf;
    margin: 0 auto;
    max-width: 100%;
}

/* ヘッダー */

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    width: 226.78px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav li {
    width: 105px;
    margin-left: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.pc_nav li:first-child {
    margin-left: 0px;
}
.slider img {
    width: 100%;
}

/* Have a happy day,ABOUT US,MENU,EVENTのwidth */
.happyday,
.Kodawari,
.MENU,
.EVENT {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;
}

/* Have a happy day From a cup of coffee. */

.Happycoffee {
    font-size: 30px;
    text-align: center;
    margin: 105px 0px 60px 0px;
}

/* ハッピーに溢れる1日を1杯のコーヒーから。 */

.cup_of_coffee {
    font-size: 82px;
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.1707;
}

/* 毎日を丁寧に大切に過ごしたい。～こだわりのコーヒーを提供したい。 */

.calm_space {
    font-size: 23px;
    text-align: center;
    line-height: 1.1652;
    margin-bottom: 100px;
}

/* ABOUT US */
.Kodawari {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1020px;
    padding-bottom: 105px;
    align-items: center;
    box-sizing: border-box;
}

/* ラテアート画像 */
.latteart img {
    border-bottom-right-radius: 100px;
    width: 100%;
}

.ABOUT_US {
    width: 50%;
    padding-left: 7.5%;
    box-sizing: border-box;
}

.latteart {
    width: 50%;
}

/* ABOUT US 画像 */
.about_us img {
    max-width: 272px;
}

.about_us {
    padding-bottom: 46px;
}

/* 私たちが提供するこだわりのコーヒー */

.we {
    font-size: 44px;
    margin-bottom: 17px;
    line-height: 1.3863;
}

/* サービスを～ */

.service {
    font-size: 16px;
    line-height: 1.625;
}

/* MENUタイトル */
.menu img {
    max-width: 150px;
    margin: 0 auto;
}

.menu {
    padding-bottom: 50px;
    text-align: center;
}

/* メニュー3つ*/

.menu_list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    max-width: 1000px;
    margin: 0 auto;
}
.menu_list li {
    width: 30%;
}

/* メニュー画像 */
.img_DFS img {
    width: 100%;
    border-top-right-radius: 50px;
}

/* メニュータイトル */
.menu_list h3 {
    font-size: 38px;
    color: #d30202;
    padding: 0 0 20px 10px;
    margin-top: -10px;
}

/* メニュー説明文 */
.p_DFS {
    font-size: 17px;
    line-height: 1.4705;
}

/* ギャラリータイトル */
.gallery img {
    max-width: 220px;
}

.gallery {
    padding-bottom: 25px;
    text-align: center;
}

/* ギャラリー画像 */
.GALLERY_photo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.GALLERY_photo li {
    width: 100%;
}

.GALLERY {
    padding-bottom: 70px;
}

/* イベントタイトル */

.EVENT {
    padding-bottom: 80px;
    margin: 0 auto;
}

.event img {
    max-width: 160px;
}

.event {
    padding-bottom: 40px;
    text-align: center;
}

/* イベント 枠 */

.event_list {
    border: solid 4px;
    border-color: #4f260b;
    background-color: #ffffff;
    padding: 30px 15.65%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.event_li {
    display: flex;
    font-size: 23px;
}

.event_li p {
    line-height: 1.9565;
}

.event_li + .event_li {
    padding-top: 15px;
}

.News {
    padding-left: 45px;
    text-decoration: underline #000;
}

/* アクセス */
.access img {
    max-width: 190px;
    margin: 0 auto;
}

.access {
    padding-bottom: 45px;
    text-align: center;
}

/* マップ */

.map {
    width: 100%;
    height: 470px;
}

/* フッター */

footer {
    color: #000;
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    margin: 0 auto;
}

.company {
    display: flex;
    font-size: 20px;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer_logo {
    max-width: 210px;
    padding-right: 80px;
}

.company_access li {
    padding-bottom: 23px;
}

.company_access li:last-child {
    padding-bottom: 0px;
}

.copy {
    font-size: 16px;
    text-align: center;
    margin-top: 80px;
    max-width: 100%;
}

.to_top_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    max-width: 125px;
}

/* スマホ用記述を隠す */
.sp_nav,
.sp_btn,
.about_us_sp,
.calm_space_sp {
    display: none;
}

@media screen and (max-width: 1024px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        position: absolute;
        top: 22px;
        right: 25px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
    }
    .sp_btn span {
        background: #fff;
        width: 35px;
        height: 3px;
        display: block;
        position: relative;
        top: 10px;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        background: #fff;
        width: 35px;
        height: 3px;
        display: block;
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: rgba(000, 000, 000, 0.8);
        width: 100%;
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sp_nav li {
        text-align: center;
        font-size: 18px;
        padding: 15px;
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    .cup_of_coffee {
        font-size: 70px;
    }

    .calm_space {
        font-size: 20px;
    }

    .we {
        font-size: 39px;
    }

    .service {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .happyday,
    .Kodawari,
    .MENU,
    .EVENT {
        padding: 0;
    }

    /* ヘッダー */

    h1 {
        width: 46.4%;
    }

    /* Have a happy day From a cup of coffee. */

    .Happycoffee {
        font-size: 17px;
        margin: 42px 0 28px 0;
        max-width: 767px;
    }
    /* ハッピーに溢れる1日を1杯のコーヒーから。 */
    .cup_of_coffee {
        font-size: 38px;
        line-height: 1.1579;
        margin-bottom: 25px;
        max-width: 767px;
    }

    /* 毎日を丁寧に大切に過ごしたい。～こだわりのコーヒーを提供したい。 */

    .calm_space_pc {
        display: none;
    }

    .calm_space_sp {
        display: flex;
        display: block;
        font-size: 16px;
        line-height: 1.875;
        margin-bottom: 65px;
    }

    /* ABOUT US箇所全体 */

    .Kodawari {
        display: block;
    }

    /* ABOUT US画像入れ替え */
    .about_us_pc {
        display: none;
    }

    .about_us_sp {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 17px;
        width: 37.6%;
    }

    /* ラテアート画像 */

    .latteart {
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        padding-bottom: 35px;
    }

    .latteart img {
        border-radius: 0;
    }

    /* ABOUT US全体 */
    .ABOUT_US {
        margin: 0 2.13% 60px 5.3%;
        padding: 0;
        width: 89.3%;
        text-align: left;
    }

    /* 私たちが提供するこだわりのコーヒー */
    .we {
        font-size: 36px;
        line-height: 1.25;
    }

    .service {
        font-size: 16px;
        line-height: 1.75;
    }

    /* MENU */

    .MENU {
        max-width: 767px;
    }

    /* メニュータイトル */
    .menu {
        padding-bottom: 22px;
        width: 22.9%;
        margin: 0 auto;
    }

    .menu img {
        max-width: 86px;
    }

    /* メニュー3つ */
    .menu_list {
        display: block;
        padding-bottom: 0;
        margin: 0 auto;
        padding: 0 9.6%;
    }

    .menu_list li {
        width: 100%;
        padding-bottom: 70px;
    }

    .img_DFS {
        width: 100%;
    }

    .menu_list h3 {
        font-size: 40px;
        padding: 0 0 0 4%;
        margin-bottom: 20px;
    }

    .p_DFS {
        font-size: 17px;
        line-height: 1.5882;
    }

    .menu_list li:last-child {
        padding-bottom: 0;
        margin-bottom: 90px;
    }

    /* GALLERY */

    /* ギャラリータイトル */
    .gallery img {
        width: 34.13%;
    }

    /* ギャラリー画像 */
    .GALLERY_photo {
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        margin-bottom: 34px;
    }

    .gallery {
        padding-bottom: 20x;
    }

    /* EVENT */

    /* イベントタイトル */

    .event {
        padding-bottom: 20px;
    }

    .event img {
        width: 24.8%;
    }

    /* イベント枠 */

    .event_list {
        border: solid 3px;
        padding: 18px 7.2%;
        margin: 0 5.33% 33px 5.33%;
    }

    .event_li {
        display: block;
        padding-bottom: 21px;
    }

    .event_li + .event_li {
        padding-top: 0;
    }

    .event_list li:last-child {
        padding-bottom: 0;
    }

    .event_li p {
        line-height: 1;
        font-size: 16px;
    }

    .News {
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* ACCESS */

    /* アクセスタイトル */

    .access {
        padding-bottom: 10px;
    }

    .access img {
        width: 29%;
    }

    /* マップリンク */

    .map {
        width: 100%;
        height: 191px;
    }

    /* フッター */

    footer {
        padding: 0;
    }

    .footer_logo {
        margin-bottom: 35px;
    }

    .company {
        display: block;
        width: 84.2%;
        padding-top: 48px;
    }

    .company_access li {
        font-size: 18px;
        line-height: 1.7222;
        padding: 0;
    }

    .copy p {
        font-size: 16px;
        padding-bottom: 32px;
    }
    .to_top_button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 100;
        width: 26.66%;
    }
}
